html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button, button::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  background: linear-gradient(
      170deg,
      rgba(49, 57, 73, 0.8) 20%,
      rgba(49, 57, 73, 0.5) 20%,
      rgba(49, 57, 73, 0.5) 35%,
      rgba(41, 48, 61, 0.6) 35%,
      rgba(41, 48, 61, 0.8) 45%,
      rgba(31, 36, 46, 0.5) 45%,
      rgba(31, 36, 46, 0.8) 75%,
      rgba(49, 57, 73, 0.5) 75%
    ),
    linear-gradient(
        45deg,
        rgba(20, 24, 31, 0.8) 0%,
        rgba(41, 48, 61, 0.8) 50%,
        rgba(82, 95, 122, 0.8) 50%,
        rgba(133, 146, 173, 0.8) 100%
      )
      #313949;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.category-containers-row1 {
  width: 100%;
  height: 630px;
  margin-top: 2rem;
  box-shadow: 0 0 12px black;
}

.category-containers-row2 {
  width: 100%;
  height: 630px;
  margin-top: 10%;
  box-shadow: 0 0 16px black;
}

.rpg-container {
  background-image: url("../../../assets/images/the-witcher-3-wild-hunt-cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;

}

/* .rpg-container:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0 0 16px black;
} */

/* .container .row .col-6 .category-containers-row1 .rpg-container .rpg-button {
  margin-left: 19%;
  margin-top: 50%;
} */

.fps-container {
  background-image: url("../../../assets/images/OW.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  
}

/* .fps-container:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0 0 16px black;
} */

.container .row .col-6 .category-containers-row1 .fps-container .fps-button {
  margin-left: 15%;
  margin-top: 50%;
}

.mmo-container {
  background-image: url("../../../assets/images/warcraft-profile_image-2a879ebd997a859b-300x300.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
 
}

/* .mmo-container:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0 0 16px black;
} */

.container .row .col-6 .category-containers-row2 .mmo-container .mmo-button {
  margin-left: 8%;
  margin-top: 50%;
}

.openWorld-container {
  background-image: url("../../../assets/images/grand-theft-auto-v-1-300x300.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
 
}

/* .openWorld-container:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0 0 16px black;
} */

/* .container
  .row
  .col-6
  .category-containers-row2
  .openWorld-container
  .openWorld-button {
  margin-left: 20%;
  margin-top: 50%;
} */
.container .row .col-6 .category-containers-row1 .rpg-container .wrapper, 
.container .row .col-6 .category-containers-row1 .fps-container .wrapper, 
.container .row .col-6 .category-containers-row2 .mmo-container .wrapper, 
.container .row .col-6 .category-containers-row2 .openWorld-container .wrapper  {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  top: 40%;
}

