<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="category-containers-row1">
        <div class="rpg-container">
          <div style="background-color: rgba(0, 0, 0, 0.5); height: 630px;">
            <a routerLink="/RPG" target="_top" class="animated-button1 rpg-button">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Role-Playing Games
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="category-containers-row1">
        <div class="fps-container">
          <div style="background-color: rgba(0, 0, 0, 0.5); height: 630px;">
            <a routerLink="/FirstPerson" target="_top" class="animated-button1 fps-button">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              First-Person Shooter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="category-containers-row2">
        <div class="mmo-container">
          <div style="background-color: rgba(0, 0, 0, 0.5); height: 630px;">
            <a routerLink="/MMO" target="_top" class="animated-button1 mmo-button">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Massive Multiplayer Online
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="category-containers-row2">
        <div class="openWorld-container">
          <div style="background-color: rgba(0, 0, 0, 0.5); height: 630px;">
            <a routerLink="/OpenWorld" target="_top" class="animated-button1 openWorld-button">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Open World Games
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>