<div class="container">
  <div class="row" fxLayout="row wrap" >
    <div class="col-6" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
      <div class="category-containers-row1">
        <div class="rpg-container">
          <div style="background-color: rgba(0, 0, 0, 0.5); height: 630px;" fxFlex="100%" >
            <a class="wrapper" routerLink="/RPG" target="_top">
              <button >Role-Playing Games</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
      <div class="category-containers-row1">
        <div class="fps-container">
          <div style="background-color: rgba(0, 0, 0, 0.5); height: 630px;">
            <a class="wrapper" routerLink="/FirstPerson" target="_top">
              <button >First-Person Shooter</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" fxLayout="row wrap">
    <div class="col-6" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
      <div class="category-containers-row2">
        <div class="mmo-container">
          <div style="background-color: rgba(0, 0, 0, 0.5); height: 630px;">
            <a class="wrapper" routerLink="/MMO" target="_top">
              <button >MMO</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
      <div class="category-containers-row2">
        <div class="openWorld-container">
          <div style="background-color: rgba(0, 0, 0, 0.5); height: 630px;">
            <a class="wrapper" routerLink="/OpenWorld" target="_top">
              <button >Open World</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>