<div style="width: 500px; margin: auto; background-color: rgb(32, 32, 32); border-radius: 12px;" fxLayout="row wrap" >
  <div class="submit-form" >
    <div *ngIf="!submitted" >
      <div    appearance="outline" >
        <label style="color: white">Title</label>
        <input
          [required]="true"
          class="form-control"
          type="text"
          id="title"
          [(ngModel)]="_game.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="_game.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="branch">Category</label>
        <select id="branch" name="branch" [(ngModel)]="_game.category" class="form-control">
          <option value="RPG">RPG</option>
          <option value="First-Person">First-Person</option>
          <option value="MMO">MMO</option>
          <option value="Open World">Open World</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Price</label>
        <input
          class="form-control"
          id="price"
          required
          [(ngModel)]="_game.price"
          name="description"
          placeholder="€"
        />
      </div>
      <form>
        <input class="browseButton" type="file" (change)="onSelectFile($event)">
        <br>
        <br>
        <button class="button"  type="button" (click)="performUpload()"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
        <div class="alert alert-success" role="alert" *ngIf="isUploaded">
            Image Uploaded Succesfuly
        </div>
        <button [disabled]="_game.title.length === 0" aria-colspan="addGameButton" (click)="saveTutorial()" class="button">Add Game</button>
      </form>

    </div>

    <div class="addedGame" *ngIf="submitted">
      <h4>Added successfully!</h4>
      <button class="button" (click)="newTutorial()">Add</button>
    </div>
  </div>
</div>
