
<!-- <div class="alert alert-primary" role="alert" *ngFor="let order of orders">
  
    <tr>
      <th class="orderCellsImage"><img src="{{order.filePath}}" style="width: 100%; height: auto; display: block;">
      </th>
      <th class="orderCells">User</th>
      <th class="orderCells">Game</th>
      <th class="orderCells">Price</th>
    </tr>
    <tr>
      <td class="orderCells">{{order.username}}</td>
      <td class="orderCells">{{order.title}}</td>
      <td class="orderCells">{{order.price | currency}}</td>
    </tr>
  
</div> -->
<div class="alert alert-primary" role="alert" *ngFor="let order of orders">
<div class="container">
  
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">User</div>
      <div class="col col-2 gameCol">Game</div>
      <div class="col col-3">Price</div>
      
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Username">{{order.username}}</div>
      <div class="col col-2" data-label="Game Title">{{order.title}}</div>
      <div class="col col-3" data-label="Price">{{order.price | currency}}</div>
      
    </li>
  </ul>
</div>
</div>

