
<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron profile">
    <h3>
      <h1 class="profileName">{{ currentUser.username }} Profile</h1> 
    </h3>
  </header>
  <div class="profileDesc">
    <p>
      <strong class="profileTexts">Token: 
        {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
      </strong>
    </p>
    <p>
      <strong class="profileTexts">Email: {{ currentUser.email }}</strong>
      
    </p>
    <strong class="profileTexts">Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles" class="profileTexts">
        {{ role }}
      </li>
    </ul>
</div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
