<div class="alert alert-primary" role="alert" *ngFor="let data of data">
  <div class="container">
    
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-2">Game</div>
        <div class="col col-3">Price</div>
        
      </li>
      <li class="table-row">
        <div class="col col-2" data-label="Game Title">{{data.title}}</div>
        <div class="col col-3" data-label="Price">{{data.price | currency}}</div>
        
      </li>
    </ul>
  </div>
  </div>